body {background: #f4f2ec url(../imagem/fundo.png) repeat-x; font: 12px "Lucida Grande, "Lucida Sans Unicode", Arial, sans-serif";}
#container {width: 1080px; margin: 0 auto; border: 1px solid red;}

a:link, a:active, a:visited {color: #af670e; text-decoration: none;}
a:hover {color: #227115;}

#logo a {width: 248px; height: 21px; text-indent: -999px; display: block; background: url(../imagem/logo.png) no-repeat;}

header {padding: 15px 0; height: 55px;}
nav ul {list-style: none; margin: 20px; float: right;}
nav ul li {float: left;}
nav ul li a:link {display: block; margin-right: 25px; padding-bottom: 3px; text-transform: uppercase;}
nav ul li a:hover {border-bottom: 1px solid #535858;}

